// LINKS FUENTES

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

// COLORS

$white: #fff;
$black: #000000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;

// FUENTES

$poppins: 'Poppins', sans-serif;
$poppins-regular: 400;
$poppins-bold: 700;
$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-regular: 400;
$ubuntu-bold: 700;


// BREAKPOINTS

$bp-sm: 568px;
$bp-md: 800px;
$bp-lg: 992px;
$bp-xlg: 1200px;
